* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background: url("../images/background_pattern.png");
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 960px;
}

header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  box-sizing: content-box;
}

header nav {
  width: 960px;
  margin: 0 auto;
  height: inherit;
}

header nav h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #fff;
  background-color: #4aaaa5;
  float: left;
  margin: 0;
  height: inherit;
  text-align: center;
  line-height: 90px;
  padding: 0 10px;
}

nav ul {
  list-style: none;
  float: right;
  height: 90px;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  font-size: 16px;
  line-height: 90px;
}

nav ul li span {
  margin: 0 10px;
  color: #f2f2f2;
}

a:link {
  color: #ccc;
  text-decoration: none;
}

a:visited {
  color: #ccc;
}

article {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  width: 960px;
  flex: 1 0 auto;
  margin: 30px auto 60px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

article h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
}

article hr {
  background-color: #ddd;
  border: 1px solid #ddd;
}

article section {
  margin-top: 30px;
  overflow: hidden;
}

article section img {
  float: left;
  margin-right: 30px;
  border-radius: 10px;
  width: 200px;
  height: 170px;
}

article section p {
  margin-top: 0;
  line-height: 1.6;
  color: #777;
}

footer {
  background-color: #666666;
  width: 100%;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  font-size: 0.6em;
  color: #ccc;
  padding: 20px 0;
}
